* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "dana-Regular";
    src: url(./fonts/Dana/Dana-Regular.woff);
}

@font-face {
    font-family: "dana-ExtraBlack";
    src: url(./fonts/Dana/Dana-ExtraBlack.woff);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 221, 221);
}

.content {
    display: flex;
    gap: 20px;
}

.card {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
}

.card .icons {
    position: absolute;
    right: 10px;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.card .icons svg {
    width: 15px;
}

.content .card .image {
    width: 100%;
    height: 50%;
    background-color: rgb(124, 1, 182);
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 20px;
}

.content .card .image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgb(252, 252, 252);
    border-bottom: 2px solid rgb(124, 1, 182);
    margin: -10px 0;
}

.card .name-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .name-skills .skills {
    font-family: "dana-Regular";
}

.card .name-skills .name {
    font-family: "dana-ExtraBlack";
    font-weight: 900;

}

.card .rating {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card .rating svg {
    width: 20px;
}
